* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-wrap: wrap;
}
body {
  flex-direction: column;
  background-color:#ffffff;
  overflow-x: hidden;
  transition: opacity .3s;
  
}
@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  30% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.bounce-in {
  animation: bounce 1s ease;
}


#siteheader {

  background: radial-gradient(circle at 44.1% 78.8%,#071931 0%,  #374f62 99.4%);

  color:white;
  display: flex;
  opacity: 1;
  align-items: center;
  padding-right:50px;
  position: fixed; /* Make the header fixed at the top */
  top: 0;
  left: 0;
  justify-content: space-between;
  z-index: 1000;
  width: 100%;
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding-right: 50px;
  transition-duration: 0.3s;
  transition: background 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, height 0.3s;
}
.joinedpple{
  position:relative;
  background-color:black;
  color:white;
}
body > *:not(#siteheader):not(#placeholder):not(.event-details-panel2):not(#s2s) {
  margin-top: 80px; /* Same as the header height */
}


#siteheader.scrolled {
  height:80px;
  color:black;
  background: white; /* Remain white when scrolled */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Subtle shadow change */
}

#siteheader #Logoname, 
#siteheader #siteheader-content span {
  
  color: white; /* Initial text color black */
}
#siteheader #Logoname, 
#siteheader{
  font-size:1.8rem;
  color: white; /* Initial text color black */
}

#siteheader.scrolled #Logoname, 
#siteheader.scrolled #siteheader-content span {
  font-size:1.5rem;
  text-shadow: none;
  color: black; /* Keep text black when scrolled */
}


#Logoname {
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
  margin-left: 30px;
  min-width: 30px;
  font-size:1.5rem;
  transition-duration:0.2s;
  font-weight: bold;
  width: auto;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

#siteheader-content {
  display: flex;
  align-items: center;
  gap: 30px;
}

#siteheader-content span {
  font-size: 1.2rem;
  color: #ffffff; 
  font-weight: 600;
  text-shadow: 2px 0px 2px rgba(0,0,0,0.9);
  transition-duration: 0.5s;
}
#siteheader-content span:hover {
  transform: translate(0,-2px);
  text-decoration: underline #baeffd;
}

.currentpage {
  text-decoration: underline #71dbfe;
}
#TITLE3 {

  flex-direction: column;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  font-family: 'Arial Black', sans-serif;
  font-size: 2rem;
  width: 100%;
  z-index: 1; /* Ensure TITLE is below siteheader */
  position: relative;
  padding: 40px;
  padding-top:10px;
  height: 65vh;
  display: flex;
  font-weight: 900;
  color:#2d6a8f;
  letter-spacing: -2px;
  justify-content: center;
  align-items: center;
  text-align: center;

}

footer {
    margin-top: auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    font-size: 70%;
    box-shadow: 0 -19px 19px 2px rgba(0, 0, 0, 0.1);
}

footer a {
  color: white;
}
#TITLE2 {

  flex-direction: column;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  font-family: 'Arial Black', sans-serif;
  font-size: 2rem;
  width: 50%;
  z-index: 1; /* Ensure TITLE is below siteheader */
  position: relative;
  padding: 40px;
  display: flex;
  font-weight: 900;
  border-radius:5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color:#000000;
  background-color: rgba(255,255,255,0.7);
  
  letter-spacing: -2px;
  justify-content: center;
  align-items: center;
  text-align: center;

}
#wechatimg{
  width:40%;
  height:auto;
}
#TITLE {
  
  flex-direction: column;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  font-family: 'Arial Black', sans-serif;
  font-size: 2rem;
  width: 100%;
  z-index: 1; /* Ensure TITLE is below siteheader */
  position: relative;
  
  padding: 40px;
  padding-bottom:40px;
  padding-top:110px;
  background-color:#ffffff;
  display: flex;
  font-weight: 900;
  color:#000000;
  letter-spacing: -2px;
  justify-content: center;
  align-items: center;
  text-align: center;

}


#TITLE h1 {
  font-weight: 500;
}

#titledescription {
  color:#233d8b;
  font-size: 1.1rem;
  width: 70%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
   margin-top: 20px;
  text-align: center;
  font-weight: normal;
}

.line-1 {
  width: 78%;
  margin: 0 auto;
  height: 1px;
  background: rgba(0,0,0,0.5);
}

.line-2 {
  width: 75%;
  height: 2px;
  background: rgba(0,0,0,0.8);
}

.line-3 {
  width: 50%;
  margin: 0 auto;
  height: 2px;
  background: rgba(0,0,0,0.8);
}

.calendar-container {
  max-width: 1000px;
  border: 30px solid #d6edf5;
  margin: 50px auto;
  
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#contentcalendar{
  position:relative;
  z-index:995;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width:100%;
  background-color:#bee2ee;
  padding-top:40px;
  padding-bottom:70px;
}


.calendar-header {
  gap: 10px;
  
  display: flex;
  justify-content: space-between;
  flex-direction:row;
  align-items: center;
}
.header-left {
    display: flex;
    align-items: center;
  gap: 15px; /* Space between the title and the button */
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.calendar-header h3 {
  margin: 0;
  font-size: 20px;
}

.header-right span {
  display: flex;
  gap: 10px;
}
.calendar-header h2 {
}
.event-form {
  margin-bottom: 20px;
}
.event-form input, .event-form select {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}
.calendar-day {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  position: relative;
}
.calendar-day span {
  font-weight: bold;
}
.event {
  background-color: #0084ff;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  margin-top: 10px;
  display: block;
  text-align: center;
  font-size: 12px;
}

.avbut {
  background-color: #52abff;
  color: #fff;
  padding: 17.5px;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border:none;
  border-radius: 4px;
  margin-top: 10px;
  display: block;
  text-align: center;
  font-size: 12px;
}
.eventDetPanBTN{
  outline: none;
  background: none;
  background-color: #52abff;
  color: #fff;
  width:80%;
  margin: 0 auto;
  border:2px solid #0b2e32;
  padding:3px;
  border-radius: 4px;
  margin-top: 10px;
  display: block;
  text-align: center;
  font-size: 12px;
}

.event-details-panel {
  overflow-y: scroll;
  position: fixed;
  bottom: -100%; /* Start hidden by positioning it off the bottom of the screen */
  left: 50%;
  transform: translateX(-50%);
  width: 30vw;
  height: 30vh;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  transition: bottom 0.4s ease;
  z-index: 1001;
}
.event-details-panel h1 {
  font-weight: bold;
  font-size: 1.5rem; 
   font-family: 'Arial Black', sans-serif;
}

.event-details-panel h2 {
  font-weight: normal;
  font-size: 1.25rem;
  
}

.event-details-panel2 {
  overflow-y: auto;
  position: fixed;
  top:50%;
  transform: translateY(-50%);
  left: -100%; 
  width: 25vw;
  height: 100vh;
  background-color: #ededed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
  transition: left 0.4s ease; 
  z-index: 1001;
}
.event-details-panel2 h1 {
  font-weight: bold;
  font-size: 1.5rem; 
}

.event-details-panel2 h2 {
  font-weight: normal;
  font-size: 1.25rem;
}
.show-panel2 {
 left: 0px;
}

.show-panel {
  bottom: 20px;
}

table {
  width: 100%;
}


.dropbtn {
  border-radius:5px;

  border: 2px solid #154761;
  color: white;
  padding: 8px;
  cursor: pointer;
  transition: all 0.4s ease ;

  background: linear-gradient(90deg, #0084ff, #1fa3ff);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.sidebarform{
  background-color:#bee5f4;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  color: #454545;
  border-radius: 5px;
  padding:5px;
  border:none;
  margin-top:10px;
}
.sidebarform[input=text]{
  color:#737373;
  font-family: 'Roboto', sans-serif;
}
.sidebarbtn{
  background-color:#0084ff;
  border-radius:5px;
  outline:3px solid lightgray;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.sidebarbtn:hover {
  transform: translateY(-3px);
}

.dropbtn:hover {
  transform: translateY(-3px);
}

.dropdown {
  border:none;
  position: relative;
  margin-top: 10px;
}
#myDropdown{
  padding-bottom:50px;
}
.dropdown-content {
  padding-bottom: 70px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  justify-content: left;
  display: none;

  position: absolute;
  transform: translate(-20vw, 34vh);
  background-color: #ebebeb;
  min-width: 160px;
  width:60vw;
  height:60vh;
  min-height: 100px;
  z-index: 997;
}

.dropdown-content.show {
  display: block;
}

.dropdown-content span {
  text-align: center;
  color: black;
  padding: 12px 16px;
  display: block;
}
.dropdown-content span input{
  width: 40%;
}

#chat_output {
  border: 1px solid black;
  height: 300px;
  margin-bottom: 10px;
  padding: 10px;
  overflow-y: auto;
}
#chat{
  display:flex;
  align-items:center;
  gap:10px;
  justify-content: center;
  position:relative;
  bottom:0px;
  width:100%;
  height:75px;
  flex-direction:row;
}
#chatbutcont{
  display:none;
  padding:10px;
  padding-top:none;
}
#chatbox{
  padding:10px;
}
#chatbut{
  padding:10px;
}
#chatbut2{
  padding:10px;
}
#generalbut{
  padding-left:10px;

}
#chat_input {
  width: 80%;
  padding: 10px;
}
#crev{
  background-color: #c7c7c7;
}
#addev{
  background-color: #0084ff;
  border-radius:5px;
  color:white;
  border: none;
  outline:3px solid white;
}
#dropdiv{
  position:absolute;
  top:85px;
  left: 30px;
}

.person {
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  left:50%;
  transform:translateX(calc(-25% - 60px));
  gap: 80px;
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 10px;
  flex-wrap: none;
}
.person2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  gap: 20px;
  width: 100%;
  height: auto;
  flex-wrap: none;
}
#col{
  flex-direction: column;
}
#titlepageimg{
  width: 55%;
  height:auto;
}
#eventDescriptionDisplay{
  margin-top:15px;
}
#eventDescription{

  width: 80%;
  padding-top: 70px;
  padding-bottom:70px;
}
#lastform{
  margin-top: -30px;
}
#addev{
  width: 50px;
  position:absolute;
  bottom:5px;
  right:5px;
  padding-top:5px;
  padding-bottom:5px;
}

.dropdown-content span:hover {
  background-color: #c7c7c7;
}

.show {
  display: block;
}

.button-container {
  display: flex; /* Use flexbox to align items horizontally */
  justify-content: center; /* Center the buttons horizontally */
  gap: 10px; /* Optional: Adds some space between the buttons */
  margin-top: 10px; /* Adjust margin as needed */
}

/* Styles for the buttons */
#closeevent, #editevent {
  width: 40%; /* Adjust width to fit content */
  height: auto; /* Adjust height to fit content */
  padding: 10px 20px; /* Add padding for better appearance */
  display: inline-block; /* Ensure they are inline */
}
/*#notificationBtn{
  border:none;
  background: none;
  position: relative;
  trasition-duration: 0.3s;
}
#notificationBtn: hover{
  transform: translateY(-3px);
})*/


#chatContainer{
  padding-left:25px;
  padding-top:10px;
  height: calc(100% - 112.5px);
  width: 100%;
  overflow-x:hidden;
  overflow-y: scroll;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  table-layout: fixed;
}
.namestuf{
  white-space: nowrap;
}
.textstuf{
  word-break: break-word;
}
#chatContainer td{
  text-wrap: wrap;
  color:black;
}
#chatContainer tr{
  text-wrap: wrap;
}

.adminonly{
  display:none;
}


#prevMonth{
  padding: 10px;
  background-color: #0084ff;
   color:white;
  border: none;
  border-radius:5px;
}

#nextMonth{
  padding: 10px;
  border-radius:5px;
  border: none;
  background-color: #0084ff;
  color:white;
}

.trail {
  position: absolute;
  border-radius: 50%;
  z-index:10000;
  width: 15px;
  height: 15px;
  transform-translate: -50% -50%;
  background-color: rgb(77, 203, 234, 0.8);
  pointer-events: none;
  animation: fade 0.8s ease-out forwards;
}

@keyframes fade {
  0% {
      opacity: 1;
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(0);
  }
}
.row{
  flex-direction:row;
}
#createeventbutton{
  
  border: 2px solid lightgray;
  position:relative;
  
  background: linear-gradient(90deg, #0084ff, #1fa3ff);
  border-radius: 8px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.4s ease ;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Add hover state */
.dropbtn:hover {
    background: linear-gradient(90deg, #1fa3ff, #0084ff);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

/* Add focus state */
.dropbtn:focus {
    background: linear-gradient(90deg, #0084ff, #1fa3ff); /* Ensure the background color persists */
    outline: none;
    box-shadow: 0 0 0 3px rgba(24, 144, 255, 0.5);
}

/* Add active state */
.dropbtn:active {
    background: linear-gradient(90deg, #006bbf, #0084ff);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}


#mydiv {
  position: fixed;
  display:none;
  width:40vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height:60vh;
  opacity:0;
  right:25px;
  border-radius: 15px;
  z-index: 998;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}
.myDi{
  animation: myDi 0.5s ease;
}
@keyframes myDi{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
.cDi{
  animation: cDi 0.5s ease;
}
@keyframes cDi{
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}


#mydivheader {
  -moz-border-radius: 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px; 
  padding: 10px;
  cursor: move;
  background-color: #2196F3;
  color: #fff;
}


.popup-content {
  padding: 20px;
}

#chaticon2 {
  position: fixed;
  bottom: 5px;
  right: 5px;
  opacity: 1;
  z-index:10000;

}

.sidetoside {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: auto;
  padding: 0 10px;
  flex-wrap: wrap;
}

#s2s{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  position:relative;
  z-index:990;
  width:100%;
  padding:20px;
  padding-bottom:50px;
  padding-top:50px;
  
  height:auto;
  background-color: #94cbf5;
}